{
	"env": {
		"node": true,
		"mocha": true,
		"shelljs": true,
		"jest": true
	},
	parserOptions: {
		ecmaVersion: 2017,
		sourceType: 'module'
	},
	"rules": {
		"no-console": 1,
		"no-irregular-whitespace": 1,
		"no-sparse-arrays": 1,
		"no-unreachable": 1,
		"valid-typeof": 1,
		"no-shadow": 1,
		"no-path-concat": 1,
		"eqeqeq": [2, "smart"],
		"no-use-before-define": 1,
		"no-new-require": 1,
		"no-undef": 2,
		"indent": 2,
		"quotes": [2, "single", "avoid-escape"],
		"no-mixed-requires": 0,
		"no-underscore-dangle": 0,
		"no-multi-spaces": 0,
		"no-trailing-spaces": 0,
		"no-unused-vars": [2, {"vars": "all", "args": "none"}],
		"dot-notation": 0,
		"new-cap": 0,
		"camelcase": 0,
		"handle-callback-err": [2, "^.*(e|E)rr" ],
		"space-infix-ops": 0
	}
}